:root {
	--main-text-color: #434455;
	--secondary-text-color: #2e2f42;
	--accent-text-color: #fff;
	--logo-color: #4d5ae5;
	--footer-tex-color: #e7e9fc;
	--main-background-color: #e5e5e5;
	--secondary-background-color: #f4f4fd;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
body {
	font-family: "Roboto", sans-serif;
	color: var(--main-text-color);
	background-color: var(--accent-text-color);
}
ul {
	list-style: none;
}
.link {
	font-family: inherit;
	text-decoration: none;
}
.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
}
.web {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
	color: var(--logo-color);
}
.header-link {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--secondary-text-color);
}
.header-link:hover,
.header-link:focus {
	color: var(--main-text-color);
}
.header-link:active {
	color: var(--logo-color);
}
.header-phone,
.header-mail {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--main-text-color);
}
.header-phone:hover,
.header-mail:hover,
.header-phone:focus,
.header-mail:focus {
	color: var(--logo-color);
}
.hero {
	background-color: var(--secondary-text-color);
}
.hero-title {
	font-weight: 500;
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
	color: var(--accent-text-color);
}
.hero-button {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.04em;
	color: var(--accent-text-color);
	background: var(--logo-color);
	border-radius: 4px;
	cursor: pointer;
	border: none;
}
.hero-button:hover {
	background-color: var(--logo-color);
}
.hero-button:active {
	background-color: #404bbf;
}
.qualities-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--secondary-text-color);
}
.qualities-list .text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--main-text-color);
}
.team {
	background-color: var(--secondary-background-color);
}
.work-title,
.team-title {
	font-weight: 500;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--secondary-text-color);
}
.name {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--secondary-text-color);
}
.job {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--main-text-color);
}
.portfolio-button {
	font-family: inherit;
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--logo-color);
	background: var(--secondary-background-color);
	border: 1px solid var(--footer-tex-color);
	border-radius: 4px;
	cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
	color: var(--accent-text-color);
	background: var(--logo-color);
}
.portfolio-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--secondary-text-color);
}
.portfolio-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--main-text-color);
}
.portfolio-text-item {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	/* color: var(--secondary-background-color); */
}
.footer {
	background-color: var(--secondary-text-color);
}
.footer > .logo {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
	color: var(--secondary-background-color);
}
.footer-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--footer-tex-color);
	background: var(--secondary-text-color);
}
